@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PlayMeGames-demo";
  src: url("/fonts/PlayMeGames-Demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "retro-gaming";
  src: url("/fonts/Retro Gaming.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixeboy";
  src: url("/fonts/Pixeboy.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PlayMeGames-demo", sans-serif;
}

:focus {
  outline: none;
}

* {
  user-select: none;
}

/* WebKit Browsers (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

/* Remove scrollbar arrows */
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #f8b95a; /* Custom thumb color */
  border-radius: 10px; /* Rounded corners */
  min-height: 20px; /* Prevents small thumbs */
  border: 2px solid transparent; /* Helps enforce border-radius */
  background-clip: padding-box; /* Ensures rounded edges appear */
}

/* Ensure track is transparent */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f8b95a transparent;
}

/* Internet Explorer & Legacy Edge */
body {
  -ms-overflow-style: none; /* Hides default scrollbar */
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f8b95a;
  border-radius: 10px;
  min-height: 20px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.custom-toast {
  background-color: rgba(248, 185, 90, 0.5) !important;
  color: white !important;
  border: 3px solid #f8b95a;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: large;
  font-family: "PlayMeGames-demo" !important;
  width: 27vw !important;
  top: 12.7vh;
}

@media (max-width: 1024px) {
  .custom-toast {
    width: 40vw !important;
  }
}

@media (max-width: 768px) {
  .custom-toast {
    width: 50vw !important;
  }
}

@media (max-width: 480px) {
  .custom-toast {
    font-size: small;
    height: 2.5vh;
    width: 70vw !important;
    top: 15vh;
  }
}

.Toastify__close-button {
  color: white !important;
  opacity: 100%;
}
